header{
    display: inline;
}

body {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    height: 100vh;
}

*:focus {
    outline: none;
}

.selected::after{
    content: "";
    flex-grow: 1;
    order: 1;
}

.selected li:first-child{
    order: 0;
}
/* ======= animations =======*/

.fadeOut {
    opacity: 0; 
    pointer-events: none; 
}

.fadeIn {
    opacity: 1; 
    pointer-events: all; 
}

.hidden {
    display: none; 
}

/* ======== menu screen ========= */
.menu {
    width: 100%;
    height: 100%;
    font-size: 50px; 
    background:rgba(165, 101, 42, 0.712);
    transition: opacity 0.75s ease-out;
    background-image: url(images/Hanoi-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    align-items: center;
}

.menu h1 {
    margin-bottom: 15vh;
    margin-left: 1vh;
}

.menu h2 {
    position: absolute;
    width: 85%; 
    color: rgba(128, 0, 0, 0.582);
    font-size: 15px;
    text-align: right;
    bottom:0;
}

.menu button {
    width: 180px; 
    height: 75px; 
    border-radius: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    background-color: rgb(221, 87, 63);
    display: block;
    margin-left: 12vw;
    margin-top: 40px;
    transition: 0.25s;
}

.menu button:hover{
    /* border-color:whitesmoke; */
    color: whitesmoke;
}

/* ========== game display =========== */

.game {
    transition: opacity 0.75s ease-in 0.75s;
    /* position: absolute; */
    transform: translate(0%, -110%);
}

.title {
    font-size: 65px;
    letter-spacing: .05em;
}

.hanoi {
    letter-spacing: -.04em;
}

.score-board {
    display: inline-block;
    float: left;
    /* not applying fontsize to moves */
    font-size: 18px;
    text-align: left;
    margin-left: 5vh;
    margin-bottom: 12vh;
}

.rules-display {
    display: inline-block;
    float: right; 
    text-align: left;
    margin-right: 20vh;
    margin-top: 4vh;
}

.rules-display h1{
    text-align: right; 
}

.info-icon {
    width: 30px;
    height: 30px;
}

.rules-text {
    text-align: left;
    margin: 0 auto;
    cursor: help; 
}

.rules-text:hover + .hidden {
    display: flex;
    flex-direction: column;
}

.rules {
    margin : 0; 
}

/* ========== buttons ========= */
.buttons {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

/* .start-btn{
    width: 60px;
    height: 60px; 
} */

.restart-btn{
    width: 60px;
    height: 60px; 
}

/* ========== towers & disks ========== */
#towers {
    width: 100%; 
    /* height: 35%;  */
    display: flex; 
    justify-content: space-around; 
}

/* Resolve!! ====> increase clickable space */
.tower1, .tower2, .tower3 {
	cursor: pointer;
    background: rgba(165, 101, 42, 0.712);
    width: 10px; 
    border-radius: 90px; 
    /* aligns the disk */
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-end;
    height: 30vh; 
    margin: 0; 
    padding: 0; 
}

.base {
    background:rgba(165, 101, 42, 0.712);
    width: 100; 
    height: 200px; 
    margin: auto;
    border-radius: 20px; 
    position: relative;
}

.disk {
    /* display: flex;
	align-items: center; */
	list-style: none;
	height: 24px;
	display: block;
	border-radius: 8px;
    order: 2;
}

#disk1 {
    width: 50px;
    background-color: blue;
}

#disk2 {
    width: 80px;
    background-color: violet;
}

#disk3 {
    width: 110px;
    background-color: rgb(255, 154, 40);
}

#disk4 {
    width: 140px;
    background-color: rgb(137, 250, 114);
}