header{
    display: inline;
}

body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    height: 100vh;
}

/* ======= animations =======*/
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.hidden {
    display: none; 
}

*:focus {
    outline: none;
}

.selected::after{
    content: "";
    flex-grow: 1;
    order: 1;
}

.selected li:first-child{
    order: 0;
}

/* ======== menu screen ========= */
.menu {
    width: 100%;
    height: 100%;
    font-size: 50px; 
    background:rgba(165, 101, 42, 0.712);
    transition: opacity 0.75s ease-out;
    background-image: url(images/Hanoi-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    align-items: center;
}

.menu h1 {
    margin-bottom: 15vh;
    margin-left: 1vh;
}

.menu h2 {
    position: absolute;
    width: 85%; 
    color: rgba(128, 0, 0, 0.582);
    font-size: 15px;
    text-align: right;
    bottom:0;
}

.menu button {
    width: 180px; 
    height: 75px; 
    border-radius: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    background-color: rgb(221, 87, 63);
    display: block;
    margin-left: 12vw;
    margin-top: 40px;
    transition: 0.25s;
    cursor: pointer;
}

.menu button:hover{
    border-color:whitesmoke;
    color: whitesmoke;
}

/* ========== game display =========== */

.game {
    animation: fadeIn 2s;
}

.title {
    font-size: 65px;
    letter-spacing: .05em;
}

.hanoi {
    letter-spacing: -.04em;
}

.space-out {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.score-board {
    display: flex; 
    flex-direction: column; 
    font-size: 18px;
    text-align: left;
    margin-left: 5vh;
    margin-bottom: 14vh;
}

.rules-display {
    text-align: left;
    margin-right: 10vh;
}

.rules-display h1{
    text-align: left; 
}
.info-icon {
    width: 30px;
    height: 30px;
}

.rules-text {
    text-align: left;
    margin-top: 4vh;
    margin-bottom: 0;
    cursor: help; 
}

.rules-text:hover + .hidden {
    display: flex;
    flex-direction: column;
}

.rules {
    margin: 0; 
}

.modal-container{
    top: 0; 
    left: 0; 
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* fix */
    display: none; 
}
#modal {
    padding: 2em 4em;
    border-radius: .5em;
    width: 25vw;
    height: 16vh; 
    margin: 0 auto;
    text-align: center;
    background-color: skyblue;
}
#modal h1{
    font-size: 42px;
    margin-top:0vh;
    margin-bottom: 0vh
}
#modal p{
    font-size: 18px;
    margin-top: 0px;
}
.modal-button {
    font-size: 1.25em;
    font-family:monospace;
    font-weight: bold; 
    background-color: #000;
    border: none;
    padding: .5em 1em;
    color: #fff;
    box-shadow: 0 0 0 2px #000 inset;
    border-radius: .8em;
    cursor: pointer;
    transition: background .4s ease, color .4s ease;
}
.modal-button:hover {
    box-shadow: 0 0 0 2px #000 inset;
    color: #000;
    background-color: white;
}

/* ========== buttons ========= */
.buttons {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.restart-btn{
    width: 60px;
    height: 60px; 
}

/* ========== towers & disks ========== */
#towers {
    width: 100%; 
    /* height: 35%;  */
    display: flex; 
    justify-content: space-around; 
}

/* Resolve!! ====> increase clickable space */
.tower1, .tower2, .tower3 {
	cursor: pointer;
    background: rgba(165, 101, 42, 0.712);
    width: 10px; 
    border-radius: 90px; 
    /* aligns disks */
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-end;
    height: 30vh; 
    margin: 0; 
    padding: 0; 
}

.base {
    background:rgba(165, 101, 42, 0.712);
    width: 100; 
    height: 200px; 
    margin: auto;
    border-radius: 20px; 
    position: relative;
}

.disk {
	list-style: none;
	height: 24px;
	display: block;
	border-radius: 8px;
    order: 2;
}

#disk1 {
    width: 50px;
    background-color: blue;
}
#disk2 {
    width: 80px;
    background-color: violet;
}
#disk3 {
    width: 110px;
    background-color: rgb(255, 154, 40);
}
#disk4 {
    width: 140px;
    background-color: rgb(137, 250, 114);
}
#disk5 {
    width: 170px;
    background-color: rgb(250, 246, 0);
}
#disk6 {
    width: 210px;
    background-color:tomato;
}
#disk7 {
    width: 240px;
    background-color: rgb(2, 238, 255);
}
#disk8 {
    width: 270px;
    background-color:pink;
}